@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=REM:ital,wght@0,800;1,800&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
ul {
    height: 100px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    list-style:none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;    
    color: white;
    text-shadow: 0 0 0.2em #388ea7, 0 0 0.2em #388ea7,
		0 0 0.2em #388ea7;
/*background-color: rgba(255, 255, 255, 0.2);*/
}

li {
    padding: .4em 2em .2em ;
}

li:hover {
    background: white;
    color: black;
    border-radius: 8px;
}

body {
        background-image:  url("bg2.jpeg");  
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        background-position:  top 60%;
        background-attachment: fixed;
        width: 100vw;
    }
.content {
    display: inline-block;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}


.banner {
    min-height: 60%;
}

.spaces {
    min-height: 20%;
}

.information {
    display: inline-block;
    min-width: min-content;
    background: white;
    margin-left: 1%;
    margin-right: 1%; 
}

.infointerv {

    display: inline-block ; 
    margin-bottom: 80px;
    float: none;
    width: 47%;
    padding: 2px;
    margin: 10px;
}

.infointerv:nth-child(2n) {
    float: right;  }

.infoimg
{
    width: 250px;
/*
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);*/
	box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);
}

p {
    font-family: 'REM', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    
    line-height: 1.8em;
}

h2 {
    font-family: 'Lora', serif;
}

.titulo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.titulo img {
    display: block;
    float: right;
    width: 40px;
    margin: 6px;
    opacity: 35%;
}
