@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:wght@700&family=REM:ital,wght@0,800;1,800&family=Roboto+Slab:wght@300&family=Roboto:wght@100;300&display=swap');

body {
        background-image:  url("img/bg2.jpeg");  
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        background-position:  top 60%;
        background-attachment: fixed;
        width: 100vw;
    }

.content {
    display: inline-block;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.mirador {
    min-height: 120%;
}

.hueco {
    min-height: 40%;
}

.banner {
    min-height: 60%;
}

.spaces {
    min-height: 20%;
}

.information {
    display: inline-block;
    width: 92%;
    background: white;
    margin-left: 4%;
}

.infointerv {

    display: inline-block ; 
    margin-bottom: 80px;
    float: none;
    width: 90%;
    padding: 14px;
    margin: 10px;
    background: white;
}


.infoimg
{
    width: 40%;
/*
    -webkit-box-shadow: 5px 5px 33px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 33px -12px rgba(0,0,0,0.75);*/
	box-shadow: 5px 5px 33px -12px rgba(0,0,0,0.75);
}

p {
    max-width: fit-content;
    font-family: 'Roboto', sans-serif;
    
    text-align: justify;
    
    line-height: 1.8em;
}

h1 {
    font-family: 'Lora', serif;

}

h2 {
    font-family: 'Lora', serif;
}

.titulo {
    display:grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    margin-bottom: 40px;
}

.titulo img {
    display: none;

}

.separator
{
	margin-top : 10px;
	border : 1px solid #C3C3C3;
}


/* media query*/
@media screen and (min-width:900px) {
    
    .information {
        display: inline-block;
        min-width: min-content;
        background: white;
        width: 96%;
        margin-left: 2%; 
    }

    .infointerv {

        display: inline-block ; 
        margin-bottom: 80px;
        float: none;
        width: 47%;
        padding: 2px;
        margin: 10px;
    }

    .infointerv:nth-child(2n) {
        float: right;  }

        .titulo img {
            display: flex;
            float: right;
            width: 40px;
            margin: 6px;
            opacity: 70%;
            vertical-align: bottom;
        }
}


.circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }

  .circle img {
    position: relative; 
    width: 80%; 
    padding: 0%; 
    margin: 0 auto; 
    margin-top: 0%;
    
    border-radius: 50%;
    display: block;
    border:1px solid rgba(255,255,255,0);
  }

  .circle:after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%);
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
  }

/*SLIDER*/
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



/*MENU*/

nav{
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    
    align-content: right;
    text-align: right;
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Anton', sans-serif;
    
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-shadow:
    -1px -1px 3px #999,
    0 0 1px darkred,
    1px 1px 1px red,
    2px 2px 1px #555,
    3px 3px 1px #222,
    4px 4px 1px #000;
}
li a.active, li a:hover{
    background: #3087a2;
    transition: .5s;
    text-shadow:none;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
    
        align-content: center;
        text-align: center;
        float: right;
        margin-right: 20px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}